view,
scroll-view,
swiper,
swiper-item,
cover-view,
cover-image,
icon,
text,
rich-text,
progress,
button,
checkbox,
form,
input,
label,
radio,
slider,
switch,
textarea,
navigator,
audio,
camera,
image,
video {
  box-sizing: border-box;
}

.text-gray {
  color: $text-color-gray;
}
.font-size-sm {
  font-size: $font-size-sm;
}
.mr-sm {
  margin-right: $spacing-row-sm;
}
.ml-sm {
  margin-left: $spacing-row-sm;
}
.bg-white {
	background-color: #ffffff;
	color: #666666;
}
.cu-bar.fixed,
.nav.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1024;
}
.text-center {
	text-align: center;
}
.nav .cu-item {
	height: 90rpx;
	display: inline-block;
	line-height: 90rpx;
	margin: 0 10rpx;
	padding: 0 20rpx;
}
.nav .cu-item.cur {
  font-size: 36rpx;
  color: #000;
	border-bottom: 4rpx solid;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}