view,
scroll-view,
swiper,
swiper-item,
cover-view,
cover-image,
icon,
text,
rich-text,
progress,
button,
checkbox,
form,
input,
label,
radio,
slider,
switch,
textarea,
navigator,
audio,
camera,
image,
video {
  box-sizing: border-box;
}

.text-gray {
  color: $text-color-gray;
}
.font-size-sm {
  font-size: $font-size-sm;
}
.mr-sm {
  margin-right: $spacing-row-sm;
}
.ml-sm {
  margin-left: $spacing-row-sm;
}
.pr-lg {
  padding-right: $spacing-row-lg;
}
.pl-lg {
  padding-left: $spacing-row-lg;
}
.pt-lg {
  padding-top: $spacing-col-lger;
}
.mt-xs {
  margin-top: $spacing-col-xs;
}
.padding-sm {
  padding: $padding-sm;
}
.text-red {
  color: $color-like;
}
.br-6 {
  border-radius: $border-radius-base;
}
.solid {
  border: 1px solid $text-color-gray;
}
.bg-white {
	background-color: #ffffff;
	color: #666666;
}
.cu-bar.fixed,
.nav.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1024;
}
.text-center {
	text-align: center;
}
.nav .cu-item {
	height: 90rpx;
	display: inline-block;
	line-height: 90rpx;
	margin: 0 10rpx;
	padding: 0 20rpx;
}
.nav .cu-item.cur {
  font-size: 36rpx;
  color: #000;
	border-bottom: 4rpx solid;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.justify-around {
  justify-content: space-around;
}
/* ==================
          徽章
 ==================== */

 .tag {
	vertical-align: middle;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	height: 48rpx;
	font-family: Helvetica Neue, Helvetica, sans-serif;
	white-space: nowrap;
}

.tag:not([class*="bg"]):not([class*="line"]) {
	background-color: #f1f1f1;
}

.tag[class*="line-"]::after {
	content: " ";
	width: 200%;
	height: 200%;
	position: absolute;
	top: 0;
	left: 0;
	border: 1rpx solid currentColor;
	transform: scale(0.5);
	transform-origin: 0 0;
	box-sizing: border-box;
	border-radius: inherit;
	z-index: 1;
	pointer-events: none;
}

.tag.radius[class*="line"]::after {
	border-radius: 12rpx;
}

.tag.round[class*="line"]::after {
	border-radius: 1000rpx;
}

.tag[class*="line-"]::after {
	border-radius: 0;
}
.tag+.tag {
	margin-left: 10rpx;
}
.tag.sm {
	font-size: 20rpx;
	padding: 0rpx 12rpx;
	height: 32rpx;
}
.text-gray,
.line-gray,
.lines-gray {
	color: $text-color-gray;
}
.text-grey,
.line-grey,
.lines-grey {
	color: #8799a3;
}
.text-black,
.line-black,
.lines-black {
	color: #333333;
}